/* helpers */
html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.pad-top-80{
  padding-top: 80px;
}

.pad-top-40{
  padding-top: 40px;
}

/* globales */
body{
  background: #f2f2f2;
  font-family: 'Oswald', sans-serif;
}

.contenedor{
 width: 98%;
 margin: 0 auto;
}
@media only screen and (min-width:480px) {
 .contenedor{
   width: 90%;
   margin: 0 auto;
 }
}
/* separador */
h2{
   font-family: 'Open Sans', sans-serif;
   font-size: 2.4em;
   text-transform: uppercase;
   text-align: center;
}
h2::after{
   content:'';
   margin: 0 auto;
   background-image: url(../img/separador.png);
   height: 50px;
   width: 200px;
   display: block;
   background-repeat: no-repeat;
   background-position: center;
}

/* header */
  div.hero{
    background: url(../img/portada.jpg);
    height: 100vh;
    background-position: top center;
    background-size: cover;
  }

 nav.redes-sociales{
   padding-top: 30px;
   text-align: center;
 }
 nav.redes-sociales a{
   color: white;
   font-size: 5vh;
   padding-right: 10px;
   margin: 20px;
   transition: all .6s ease;
 }
 nav.redes-sociales a:hover{
   color: #dcbf0f;
 }

 nav.redes-sociales a:last-child{
   margin-right: 0px;
 }
 @media only screen and (min-width:560px) {
   nav.redes-sociales a{
     font-size: 8vh;
   }
 }
 div.informacion{
   width: 90%;
   margin: 0 auto;
   text-align: center;
   color: #ffffff;
   padding: 0;
   padding-top: 40px;
 }

@media only screen and (min-width:560px) {
  div.informacion{
    width: 55%;
    margin: 0 auto;
  }
}

 div.informacion p{
   margin: 0;
   display: block;
   text-transform: uppercase;
   font-size: 5vw;
 }

 @media only screen and (min-width:780px) {
   div.informacion p{
     font-size: 2.5vw;
     /* color: red; */
   }
 }

 div.informacion p i{
   color: #dcbf0f;
   margin: 0 10px 0 10px;
 }


 p.telefono{
   margin: 0 auto;
   width: 100%;
 }
 p.direccion{
    margin: 0 auto;
    width: 100%;
 }
   @media only screen and (min-width:780px) {
     p.telefono{
       float: left;
       text-align: left;
       width: 50%;
     }
     p.direccion{
       width: 50%;
       float: right;
       text-align: right;
       margin: 0;
     }
   }

  h1.nombre-sitio{
      font-size: 30vw;
      font-family: 'PT Sans', sans-serif;
      text-transform: uppercase;
      margin:0;
  }
  @media only screen and (min-width:768px) {
    h1.nombre-sitio{
      font-size: 23vw;
    }
  }
  h1.nombre-sitio span{
    position: relative;
    text-shadow: 0 0 30px black;
  }

    .char1 {
      top: 20px; right: 20px;
      /* color: red; */
    }
    .char2 {
      top: -10px; left: 0px;
    }
    .char3 {
      top: 20px; left: 10px;
    }
    .char4 {
      top: -10px; left: 20px;
    }

  p.eslogan{
    font-size: 4vw!important;
  }
  @media only screen and (min-width:800px) {
    p.eslogan{
      font-size: 2vw!important;
    }
  }
  p.eslogan span{
    font-weight: bold;
  }

  /* Navegacion */
  div.barra{
    /* padding: 30px 30px 20px 30px; */
    padding: 0;
    background-color:#a22727;
  }

  .fixed{
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 2;
  }

  div.logo{
    margin:0;
    width: 25%;
    float: left;
    padding: 5px;
  }

@media only screen and (min-width:480) {
  div.logo{
    line-height: 10;
    margin-left: 20px;
  }
}

  div.logo img{
    width: 8vh;
    padding: 10px 0 10px 0;
  }
  @media only screen and (min-width:480px) {
    div.logo img{
      width: 22vh;
    }
  }
  nav.navegacion-principal{
    border-bottom: none;
    display:none;
    width: 100%;
    border-bottom: 1px solid black;
  }

  nav.navegacion-principal a{
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .6s ease;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px 0 5px 0;
    clear: both;
  }

@media only screen and (min-width:1300px) {
  nav.navegacion-principal{
    width: 67%;
    float: right;
    text-align: right;
    display:block;
    margin-top: 50px;
    border-bottom: none;
  }
  nav.navegacion-principal a{
    margin-right: 10px;
    display: inline-block;
    width: auto;
    padding: 10px 10px;
  }
}

nav.navegacion-principal a:hover{
  background-color: #dcbf0f;

}
nav.navegacion-principal a:last-child{
  border: 2px solid #dcbf0f;
  color: #dcbf0f;
}
nav.navegacion-principal a:last-child:hover{
  color:white;
}

/* hamburgesa */

div.hamburger {
  min-height: 8px;
  max-width: 70px;
  float: right;
  margin: 25px 50px 40px 0;
  display: block;
}

@media only screen and (min-width:1300px) {
  div.hamburger {
    display: none;
  }
}

div.hamburger:hover{
    cursor:pointer;
}

div.hamburger-inner, div.hamburger-inner:after, div.hamburger-inner:before {
    background-color: white;
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 5px;
    content: '';
    transition-timing-function: ease;
    transition-duration: .2s;
    transition-property: transform,opacity;
}
div.hamburger-inner:before {
    top: 8px;
}
div.hamburger-inner:after {
    top: 16px;
}

@media only screen and (min-width:480px) {
  div.hamburger {
    margin: 55px 75px 40px 0;
  }
  div.hamburger-inner, div.hamburger-inner:after, div.hamburger-inner:before {
    width: 70px;
    height: 8px;
  }
  div.hamburger-inner:before {
      top: 15px;
  }
  div.hamburger-inner:after {
      top: 30px;
  }
}


div.hamburger.open .hamburger-inner {
    transform: translate3d(0,10px,0) rotate(45deg);
}
div.hamburger.open .hamburger-inner:after {
    transform: translate3d(0,-20px,0) rotate(-90deg);
    top: 30px;
}
div.hamburger.open .hamburger-inner:before {
    transform: translate3d(0,-20px,0) rotate(90deg);
}


  /* generales */
  .seccion{
    padding-top: 30px;
  }

  /* cuenta regresiva */
  div.cuenta-regresiva ul li{
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    text-align: center;
  }
  @media only screen and (min-width:768px) {
    div.cuenta-regresiva ul li{
      width: 25%;
      float: left;
    }
  }
  div.cuenta-regresiva{
    position: relative;
    height: auto;
  }
  div.cuenta-regresiva ul{
    list-style: none;
  }
  div.cuenta-regresiva li{
    position: relative;
  }
  div.cuenta-regresiva .contenido{
    padding: 100px 0;
    color: #ffffff;
    text-align: center;
    position: relative;
  }
  p.numero{
    color: #dcbf0f;
    font-size: 4em;
    display: block;
     margin: 0;
     font-family: 'Oswald', sans-serif;
  }
  .parallax::before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-filter:brightness(.8);
    filter: brightness(.8);
  }
  div.cuenta-regresiva::before{
    background-image: url(../img/bg-resumen.jpg);
    content: '';
  }
  div.mapa{
    border-top: 2px dotted black;
    border-bottom: 2px dotted black;
  }

  /* footer */
  footer{
    background-color: #353535;
    padding-top: 40px;
    margin-top: 20px;
  }

  footer .contenedor > div{
    color: #ffffff;
    padding: 0px 20px;
    font-size: 12px;
  }

  @media only screen and (min-width:768px) {
    footer .contenedor > div{
      width: 33.3%;
      float: left;
    }
  }



  footer h3{
    color:#ffffff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
    text-align: center;
  }
  @media only screen and (min-width:480px) {
    footer h3{
      text-align: left;
    }
  }

  footer h3 span{
    color:#dcbf0f;
  }

  footer .ultimos-tweets li{
    margin-bottom: 10px;
  }

  footer nav.redes-sociales{
    text-align: center;
    padding: 0;
  }
  footer nav.redes-sociales a{
    display: block;
    width: 20%;
    float: left;
    font-size: 3em;
  }

  @media only screen and (min-width:480px) {
    footer nav.redes-sociales{
      text-align: left;
    }
    footer nav.redes-sociales a{
      display: inline;
      font-size: 3em;
    }
  }

  p.copyright{
    font-size: 15px;
    background-color: #2e2e2e;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    margin: 0;
  }

/* formularios */

form.contact_form .campo{
  margin: 10px 0 10px 0;
}

form.contact_form .campo label{
  padding: 10px;
  width: 25%;
  float: left;
  text-align: right;
}

form.contact_form .campo input{
  padding: 10px;
  width: 70%;
  float: left;
  margin-right: 10px;
}

form.contact_form .campo textarea{
  padding: 10px;
  width: 70%;
  height: 100px;
  float: left;
  margin-right: 10px;
}

@media only screen and (min-width:780px) {
  .caja{
    margin-top: 25px;
      padding: 20px;
      width: 750px;
      box-shadow: 0 7px 18px rgba(0, 0, 0, .5);
  }
}
.caja-grande{
  margin-top: 25px;
    padding: 20px;
    max-width: 1300px;
    box-shadow: 0 7px 18px rgba(0, 0, 0, .5);
}
input.boton{
  background-color: #dcbf0f;
  padding: 10px 40px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: 1em;
  margin-top: 20px;
  display: inline-block;
  transition: all .3s ease;
}
input.boton:hover{
  background-color: #e33000;
}

div.center{
  text-align: center;
}

ul.overview li img{
  max-width: 100%;
}
